.container {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.header {
  background-color: pink;
  padding: 2rem;
  grid-column: 1 / 4;
}

.nav {
  background-color: aquamarine;
  grid-column: 1 / 2;
}

.content {
  background-color: coral;
  grid-column: 2 / 3;
}

.aside {
  background-color: aquamarine;
  grid-column: 3 / 4;
}

.footer {
  background-color: pink;
  grid-column: 1 / 4;
}
